.edit-button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
  }

.edit-button:hover {
    border-color: #46d5a1;
    background-color: #46d5a1;
  }
  
.header {
    color: #fff;
    margin-bottom: 2rem;
  }